{{define "modeltypes"}}
{{- if eq .Kind "Text"}}	{{.Name}}	string	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Password"}}	{{.Name}}	string	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Integer"}}	{{.Name}}	int	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Number"}}	{{.Name}}	int	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Boolean"}}	{{.Name}}	bool	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Email"}}	{{.Name}}	string	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Tel"}}	{{.Name}}	string	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Longtext"}}	{{.Name}}	string	`json:"{{lowercase .Name}}, db:"{{lowercase .Name}}"`{{end}}
{{- if eq .Kind "Lookup"}}	{{.Name}}Id	int	`json:"{{lowercase .Name}}id, db:"{{lowercase .Name}}_id"`	// Lookup entity: {{.Name}}{{end}}
{{- if eq .Kind "Parent"}}	{{.Name | plural}}	{{.Object}}List	`json:"-"`	// one2many: childs only for view (not persistet){{end}}
{{- if eq .Kind "Child"}}	{{.Name}}Id	int	`json:"{{lowercase .Name}}id, db:"{{lowercase .Name}}_id"`	// one2many: parent entity {{.Name}}{{end}}
{{- if eq .Kind "manychild"}}	{{.Name}}Id	string	`json:"{{lowercase .Name}}id, db:"{{lowercase .Name}}_id"`	// many2many: Id of parent object, mappingtable: {{.Object}}{{end}}
{{- if eq .Kind "manyparent"}}	{{.Name | plural}}	{{.Name}}List	`json:"-"`	// many2many: childs of target, mappingtable: {{.Object}}{{end}}
{{- end}}
