{{define "repository" -}}
// Package model holds all entities and cross application definitions
// Time of generation: {{.TimeStamp}}
package model

import (

)

// Env holds all interfaces describing the methods of the entity access structs.
// Interfaces have to be implemented by concrete DB access functions 
type Env struct {
	{{- range .Entities }}
	{{.Name | lowercase | plural}} interface {
		Get(id uint64) (*{{.Name}}, error)
		GetAll() ({{.Name}}List, error) 
		Delete(id uint64) error 
		UpdateOrInsert({{.Name | lowercase}} *{{.Name}}) error 
	 	GetLabels() (Labels, error)
		GetAllForParentID(parentID uint64, parentfield string) ({{.Name}}List, error)				
	}
	{{- end}}
}

// Labels will be populated by the unique id and all fields tagged with isLabel=true
type Labels map[uint64]string
{{- end}}