{{define "detail" -}}
{{"{{"}}define "{{lowercase .Name}}detail" {{"}}"}}
{{"{{"}}template "base" .{{"}}"}}
<!-- Time: {{.TimeStamp}} -->
{{"{{"}}$errors:= .Errors{{"}}"}}
{{"{{"}}with .Data{{"}}"}}
                      <form method="post" action="/{{.Name | plural | lowercase}}{{"{{if .Id}}"}}/{{"{{.Id}}"}}" name="{{"{{.Id}}"}}{{"{{end}}"}}">
                        <input type="hidden" id="id" name="id" value="{{"{{.Id}}"}}">     
                        <div class="card events-card">      
                            <div class="card-table">
                              <div class="content">
                                {{- range .Fields}}
                    {{template "detailtypes" . }}
                                {{end -}}
                              </div>
                            </div>    
                            <hr class="hr" style="margin-bottom: 0;">                  
                            <footer class="card-footer">
                              <div class="field is-grouped">
                                <div class="control">
                                  <button type="submit" class="button is-success" name="action" value="0">
                                    <span class="icon is-small">
                                      <i class="fas fa-check"></i>
                                    </span>
                                    <span>Save</span>
                                  </button>
                                </div>                                
                           </footer>
                        </div>
                      </form>
                      {{"{{- if .Id}}"}} 
                      {{- range .Fields}}{{if eq .Kind "Parent"}}
                      <hr class="hr" style="margin-bottom: 0;">
                      {{"{{"}}template "{{.Object | singular | lowercase}}listtable" .{{.Object | plural}}{{"}}"}}
                      {{- end}}{{end}}{{"{{"}}end{{"}}"}} 
{{"{{- end}}"}}  
{{"{{"}}template "_footer" .{{"}}"}}
{{"{{"}}end{{"}}"}}         
{{end}}
