{{define "listtable" -}}
{{with .Entity}}
{{"{{"}}define "{{lowercase .Name}}listtable" {{"}}"}}
<!-- Time: {{.TimeStamp}} -->
{{range .Fields}}
{{- if eq .Kind "Child" "Lookup"}}
 {{"{{"}}${{.Object | plural | lowercase}}Labels := .Lookups.{{.Object | plural}}{{"}}"}}
{{- end}}{{end}}
                       <div class="card events-card">      
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                     <thead>
                                      <tr>
                                        {{range .Fields -}}
                                          {{if eq .Kind "Parent" }}{{else}}<th>{{.Name}}</th>{{- end}}
                                        {{end -}}
                                        <th></th>	
                                      </tr>
                                    </thead>
                                        <tbody>
                                          {{"{{"}}range .Entities{{"}}"}}
                                          <tr>
                                            {{- $entityname := .Name}}
                                            {{range .Fields}}                                            
                                              <td>
                                                {{- if eq .Kind "Parent"}}{{- else}}
                                                {{- if eq .Kind "Child"}}{{"{{"}}index ${{.Object | plural | lowercase}}Labels .{{.Name}}{{"}}"}}
                                                {{- else if eq .Kind "Lookup"}}{{"{{"}}index ${{.Object | plural | lowercase}}Labels .{{.Name}}{{"}}"}}
                                                {{- else if eq .IsLabel true}}<a href="/{{$entityname | plural | lowercase}}/{{"{{.ID}}"}}">{{"{{"}}.{{.Name}}{{"}}"}}</a>
                                                {{- else if eq .Kind "Boolean"}}<span>
                                                {{"{{"}}if eq .{{.Name}} true{{"}}"}}<i class="far fa-check-square"></i>{{"{{"}}else{{"}}"}}<i class="far fa-square"></i>{{"{{"}}end{{"}}"}}
                                                </span>
                                                {{- else}}{{"{{"}}.{{.Name}}{{"}}"}}
                                              {{- end}}</td>{{end}}	
                                            {{end -}}
                                            <td>
                                            <div class="buttons is-right">
                                            <form method="post" action="/{{.Name | plural | lowercase}}/{{"{{.ID}}"}}/delete" name="{{"{{.ID}}"}}">
                                              <button class="button is-secondary">    
                                                <span class="icon">
                                                  <i class="far fa-trash-alt"></i>
                                                </span>
                                                <span>Delete</span>
                                              </button>
                                              <button class="button is-primary" formmethod="get" formaction="/{{.Name | plural | lowercase}}/{{"{{.ID}}"}}">
                                                <span class="icon">                                                                                                  
                                                  <i class="far fa-edit"></i>
                                                </span>
                                                <span>Edit</span>
                                              </button>
                                            </form> 
                                            </div>
                                            </td>  
                                          </tr>
                                          {{"{{end}}"}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                            </div>
                            <footer class="card-footer">
                              <a class="button is-link" href="/{{.Name | plural | lowercase}}/new">
                                <span class="icon">                                                                                                  
                                  <i class="fas fa-plus"></i>
                                </span>
                                <span>New</span>
                              </a>      
                             </footer>                           
                        </div>  
{{"{{"}}end{{"}}"}}         
{{end}}
{{end}}


