{{define "repoinsert"}}"INSERT INTO {{.Name | lowercase | plural}} (
{{- range $index, $element := .Fields}}{{if ne $element.Name "ID"}}{{if gt $index 0}},{{end}} {{$element.Name | lowercase}}{{end}}{{end}} ) VALUES (
{{- range $index, $element := .Fields}}{{if ne $element.Name "ID"}}{{if gt $index 0}}, {{end}}:{{$element.Name | lowercase}}{{end}}{{end}})"
{{- end}}